#root {
  background-color: #0f0522;
}

.App {
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 5% auto;
  width: 80%;
  height: 80vh;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

html {
  background-color: #0f0522;
  height: 100%;
  margin: 0;
}

.image-placeholder {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border: 2px dashed #ccc;
  border-radius: 15px;
}

.img-fluid {
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

/* Styling for the buttons to ensure they sit at the bottom */
.buttons-container {
  position: absolute;
  bottom: 10px; /* or however far from the bottom you want */
  left: 50%;
  transform: translateX(-50%);
  gap: 10px; /* Will ensure buttons are 10px apart */
}

/* Ensure the buttons are the same size */
.btn {
  width: max-content;
}

.App {
  /* ...existing properties... */
  position: relative; /* This will make sure the absolute positioning of children is relative to this container */
  padding-bottom: 50px; /* Provides space for the buttons */
}
