#root {
  background-color: #0f0522;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.App {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  width: 80%;
  height: 80vh;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: auto;
  position: relative;
  padding-bottom: 50px;
}

html {
  background-color: #0f0522;
  height: 100%;
  margin: 0;
}

.image-placeholder {
  max-width: 95% !important;
  height: 65vh;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border: 2px dashed #0f0522;
  border-radius: 15px;
}

.img-fluid {
  max-width: 100%; /* Ensures the image doesn't overflow horizontally */
  height: auto; /* Maintains the aspect ratio while resizing */
  max-height: 100%; /* Ensures the image doesn't overflow vertically */
  display: block;
  margin: 0 auto;
}

.buttons-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.btn {
  width: max-content;
}
.fa-camera {
  color: #0f0522;
}
.spinner-border {
  color: #0f0522;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-color: #f2f2f2;
  border: 2px dashed #f2f2f2;
}

.img-title {
  color: black;
}
